@import url(../techniques/__cards/techniques__cards.css);

.techniques {
  display: flex;
  margin-top: 100px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 80%;
}


