@import url(../__section-title/__theme/digits__section-title_theme_dark.css);

.section-title {
  display: flex;
  width: 60%;
  justify-content: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}